diffusers>0.19.0
torch>=2.0.0
torchvision
transformers
accelerate
safetensors
opencv-python-headless # helpful for headless servers
imageio
imageio-ffmpeg
natsort
nltk
pydash
pydantic<2.0.0
loguru
einops
pre-commit
pre-commit-hooks
black
isort
