# general packages
accelerate
diffusers>0.19.0
einops
imageio
imageio-ffmpeg
loguru
natsort
nltk
opencv-python-headless
pydantic<2.0.0
pydash
safetensors
scipy
sortedcontainers
torch>=2.0.0
torchvision
transformers

# development packages
black
isort
pre-commit
pre-commit-hooks